.advantages {
    padding: 69px 0 80px 0;
    background-color: #f6f6f6;
    &__main{
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__icons {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 65px;
           
        
       
        
        img {
            display: block;
            margin: 0 auto;

        }
    }
    
    &__header {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__subheader {
        width: 247px;
        margin-top: 29px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: $main-color;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}